# React build artifacts
build/
dist/
*.log

# Dependency directories
node_modules/
npm-debug.log*

# Local env settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and system files
.DS_Store
*.swp
.vscode/
.idea/
