# Python environment
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Flask/Python dependencies
.env
venv/
env/
instance/
*.sqlite3

# Firebase credentials
serviceAccountKey.json

# Docker and build files
*.db
*.bak
*.pid
*.sock

# Editor and system files
.DS_Store
*.swp
.vscode/
.idea/
